name: Build APK RdJ Pro
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17' # Kembali ke 17 sesuai permintaan sistem terbaru

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Reconstruct & Fix Library
        run: |
          flutter create . --platforms android
          flutter pub get
          # Tetap gunakan Magic Fix untuk menyisipkan namespace ke library bluetooth
          sed -i 's/android {/android {\n    namespace "io.github.edufolly.flutter_bluetooth_serial"/' /home/runner/.pub-cache/hosted/pub.dev/flutter_bluetooth_serial-0.4.0/android/build.gradle

      - name: Build APK Release
        run: flutter build apk --release --no-tree-shake-icons

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RdJ-Scanner-Release
          path: build/app/outputs/flutter-apk/app-release.apk
