name: Build APK RdJ Pro
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Reconstruct Android Folder & Pub Get
        run: |
          # Perintah ini akan membuat folder android yang hilang berdasarkan pubspec.yaml
          flutter create . --platforms android
          flutter pub get

      - name: Build APK Release
        run: flutter build apk --release --no-tree-shake-icons

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RdJ-Scanner-Release
          path: build/app/outputs/flutter-apk/app-release.apk
