name: Build APK RdJ Pro
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Reconstruct & Ultra Fix Library
        run: |
          flutter create . --platforms android
          flutter pub get
          # 1. Fix Namespace di build.gradle library
          sed -i 's/android {/android {\n    namespace "io.github.edufolly.flutter_bluetooth_serial"/' /home/runner/.pub-cache/hosted/pub.dev/flutter_bluetooth_serial-0.4.0/android/build.gradle
          
          # 2. Fix Manifest (Hapus atribut package yang dilarang oleh Gradle 8)
          sed -i 's/package="io.github.edufolly.flutterbluetoothserial"//g' /home/runner/.pub-cache/hosted/pub.dev/flutter_bluetooth_serial-0.4.0/android/src/main/AndroidManifest.xml

      - name: Build APK Release
        run: flutter build apk --release --no-tree-shake-icons

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RdJ-Scanner-Release
          path: build/app/outputs/flutter-apk/app-release.apk
