name: Build APK RdJ Pro
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '11' # Versi yang lebih stabil untuk Gradle lama

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Repair Android Folder & Get Pub
        run: |
          flutter pub get
          # Perintah di bawah ini memaksa pembaharuan struktur Gradle
          cd android && ./gradlew clean && cd ..

      - name: Build APK Release
        run: flutter build apk --release --no-tree-shake-icons

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RdJ-Scanner-Release
          path: build/app/outputs/flutter-apk/app-release.apk
